@tailwind base;
@tailwind components;
@tailwind utilities;


::-moz-selection { 
    background-color: rgb(96 165 250); 
    color: #fff; 
} 
::selection { 
    background-color: rgb(96 165 250); 
    color: #fff; 
}


#markdown h2, #markdown h1{
    @apply text-3xl font-bold my-2
}

#markdown ul {
    @apply list-disc font-mono ml-10;
}

#typed-text {
    animation: cursor .8s infinite;
    border-right: 3px solid green;
}

@keyframes cursor {
    50%{
        border-color: transparent;
    }
}
pre {
    border-radius: 0.5rem;
}

code {
    @apply rounded-xl shadow-xl;
}
mark {
    background-color: rgb(96 165 250);
    padding: 0.3rem;
    border-radius: 0.3rem;
}