@tailwind base;
@tailwind components;
@tailwind utilities;


::-moz-selection { 
    background-color: rgb(96 165 250); 
    color: #fff; 
} 
::selection { 
    background-color: rgb(96 165 250); 
    color: #fff; 
}


#markdown h2, #markdown h1{
    @apply text-3xl font-bold my-2
}

#markdown ul {
    @apply list-disc font-mono ml-10;
}